@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200&family=Courgette&family=Grenze+Gotisch:wght@900&family=Kaushan+Script&family=Pacifico&display=swap');
header{
    background: radial-gradient(black,aquamarine);
    width: 100%;
}
main{
    background-color: rgb(95, 100, 145);
}
footer{
    background: radial-gradient(aquamarine, black);
}

img, iframe{
    height: 300px;
    width: 480px;
}
nav{
    text-align: right;
    font-size: 20px;
    padding: 10px 30px 10px 0;
}
.about{
    text-align: center;
    padding: 10px 30px 10px 0;
    font-size: 20px;
}
.about a{
    color: black;
}
nav a:hover{
    color: red;
    font-style: italic;
}
#bmw{
    padding: 25px;
    background-image: url(https://images.wallpaperscraft.ru/image/kosmos_galaktika_vselennaia_131639_3200x2400.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#mercedes{
    padding: 25px;
    background-image: url(https://images4.alphacoders.com/876/thumb-1920-876898.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#geely{
    padding: 25px;
    background-image: url(https://images.wallpaperscraft.ru/image/more_gorizont_temnyj_126942_3840x2400.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h2{
    font-size: 30px;
    text-align: center;
    color: aquamarine;
    font-family: 'Kaushan Script', cursive;
}
p{
    font-size: 20px;
    color: aquamarine;
    font-family: 'Pacifico', cursive;;
}
li{
    font-size: 15px;
    color: aquamarine;
    font-style: italic;
}
a{
    text-decoration: none;
    color: white;
}
.click:hover{
    color: gold;
    text-transform: uppercase;
}
img:hover{
    border-radius: 100%;
    opacity: 0.5;
}
iframe:hover{
    border-radius: 100%;
}





